@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto Slab', serif;
}

a {
    text-decoration: none;
    color: #76c38f;
    font-size: 13px;
}

.container {
    max-width: 1200px;
    border-top: 5px solid #76c38f;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-rows: 120px auto;
    background-color: #290000;
    color: #fff;
}

.navbar {
    padding: 0 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbarText h2 {
    font-size: 28px;
}

.navbarText p {
    font-size: 10px;
    color: #979797;
}

.navbar ul {
    display: flex;
    list-style-type: none;
}

.navbar ul li {
    height: 30px;
    padding: 0 20px;    
}

.navbar ul li:hover {
    background: #76c38f;
    border-radius: 10px;
    cursor: pointer;
}

.navbar ul li a {
    color: #fff;
    line-height: 30px;
}

.headBlock {
    padding: 0 120px 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headBlock i:hover {
    color: #76c38f;
    cursor: pointer;
}

.headBlockText,
.headBlockImg {
    padding: 0 45px;
}

.headBlockText h1 {
    font-size: 46px;
    margin-bottom: 30px;
}

.headBlockText p {
    font-size: 12px;
    color: #979797;
    line-height: 19px;
    margin-bottom: 20px;
}

.headBlockText button {
    padding: 13px 17px;
    border: none;
    border-radius: 11px;
    background-color: #76c38f;
    font-size: 13px;
    color: #fff;
    font-family: 'Roboto Slab', serif;
}

.headBlockText button:hover,
.footerForm button:hover {
    cursor: pointer;
    box-shadow: 0 0 2px #fff;
    color: #290000;
    font-family: 'Roboto Slab', serif;
}

.headBlockImgBig {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 430px;
    height: 430px;
    border-radius: 215px;
    background: #6b6b6b;
}

.headBlockImgSmall {
    width: 380px;
    height: 380px;
    border-radius: 190px;
    background: #333333;
}

main {
    padding: 60px 120px;
    background-color: #660000;
    display: grid;
    grid-template-rows: auto 120px auto;
    grid-template-columns: 100%;
    justify-items: center;
    align-items: center;
}

.mainBlockOne {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
}

.cardBlock {
    background-color: #fff;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.cardBlock:hover {
    background-color: #76c38f;
    cursor: pointer;
    transition: .3s;
}

.cardBlock:hover * {
    color: #fff;
    transition: .3s;
}

.cardBlock:hover div {
    background-color: #fff;
}

.cardBlock div {
    width: 120px;
    height: 120px;
    background-color: #333333;
}

.cardBlock h2 {
    text-align: center;
    margin: 17px auto 24px;
    color: #333333;
    font-size: 30px;
}

.cardBlock p {
    text-align: justify;
    color: #979797;
    font-size: 12px;
}

.mainBlockTwo {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.mainBlockTwo .line {
    width: 100%;
    height: 3px;
    background-color: #303030;
}


/* Можно ли разместить данный блок поверх предыдущей линии (.line) с помощью grid, не используя relative/absolute? */

.mainBlockTwo h2 {
    position: absolute;
    height: 24px;
    line-height: 24px;
    color: #fff;
    font-size: 32px;
    background-color: #303030;
    border-radius: 10px;
    padding: 12px 15px;
    z-index: 10;
}

.mainBlockThree {
    display: grid;
    grid-gap: 30px;
    grid-template: 1fr 1fr / repeat(3, 1fr);
}

.mainBlockThree .portfolio {
    width: 290px;
    height: 190px;
    border: 5px solid #fff;
    display: flex;
    align-items: flex-end;
    text-align: center;
    background-color: #353535;
}

.mainBlockThree .portfolio:hover {
    cursor: pointer;
    border: 5px solid #76c38f;
    transition: .3s;
}

.mainBlockThree .portfolio p {
    width: 100%;
    color: #fff;
    font-size: 14px;
    line-height: 30px;
    background-color: rgba(0, 0, 0, 0.6);
}

.mainBlockThree .portfolio:hover p {
    display: none;   
}

footer {
    padding: 40px 120px 0;
    display: grid;
    grid-template: auto 60px / repeat(4, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 40px;
    background-color: #303030;
    
    grid-template-areas:
        "footerBlog footerLinks footerTweets footerForm"
        "footerCopyLeft footerCopyLeft footerCopyRight footerCopyRight";
}

footer h4 {
    color: #fff;
    font-size: 16px;
    margin-bottom: 35px;
}

.footerBlog {
    grid-area: footerBlog;
}

.footerBlog h5 {
    color: #76c38f;
    font-size: 13px;
    margin-bottom: 17px;
}

/* Как обратиться к каждому из следующих <p>, не присваивая им class? */
.footerBlog .footerBlog_p1 {
    color: #666666;
    font-size: 10px;
    margin-bottom: 12px;
}

.footerBlog .footerBlog_p1 span {
    color: #76c38e;
}

.footerBlog .footerBlog_p2 {
    color: #979797;
    font-size: 10px;
    margin-bottom: 12px;
}

.footerBlog .footerBlog_p3 {
    color: #979797;
    line-height: 21px;
    font-size: 13px;
    text-align: justify;
    margin-bottom: 15px;
}

.footerLinks {
    grid-area: footerLinks;
}

.footerLinks ul li {
    list-style-type: none;
    padding-bottom: 10px;
    margin-bottom: 12px;
    border-bottom: 1px solid #404040;
}

.footerTweets {
    grid-area: footerTweets;
}

.footerTweets p {
    color: #979797;
    line-height: 23px;
    font-size: 13px;
    text-align: justify;
}

.footerForm {
    grid-area: footerForm;
}

.footerForm form {
    display: grid;
    grid-template-rows: repeat(5, auto);
    grid-row-gap: 10px;
}

.footerForm * {
    border: none;
    border-radius: 10px;
}

.footerForm form *:not(button) {
    background-color: #222222;
    color: #fff;
}

.footerForm form *:not(button):focus {
    outline: none;
    border: 1px solid #979797;
}

.footerForm input {
    padding: 12px 0 12px 10px;
}

.footerForm textarea {
    padding: 12px 0 0 10px;
    resize: none;
}

.footerForm button {
    padding: 13px 12px;
    color: #303030;
    font-size: 12px;
    font-weight: bold;
    background-color: #76c38f;
    font-family: 'Roboto Slab', serif;
    letter-spacing: 1.1px;
    justify-self: start;
}

.footerCopyrightLeft {
    position: relative;    
    width: 100%;
    grid-area: footerCopyLeft;
    justify-self: start;
    align-self: center;
    color: #979797;
    font-size: 13px;
}

.footerCopyrightRight {
    grid-area: footerCopyRight;
    justify-self: end;
    align-self: center;
    color: #979797;
    font-size: 13px;    
}

/* Можно ли эту полоску, отделяющую самую нижнюю часть, реализовать как-то по-другому, не меняя при этом разметку Grid? */
.footerCopyrightLeft:before {
    content: "";
    position: absolute;
    width: calc(200% + 263px);
    left: -120px;
    top: -100%;
    border: 1px solid #3a3a3a;       
}